*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.row{
    display: flex;
    padding: 10px;
}

.row-reverse{
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
}

.col-15{
    width: 10%;
    align-items: stretch;
}


.col-30{
    width: 30%;
}

.col-40{
    width: 150px;
    height: 200px;
    align-items: stretch;
}


/* HEADER*/

.divisor-header{
    justify-content: space-between;
}
.nav-bar{
    justify-content: space-between;
    background-color: orange;
}

header{
    background-color: aquamarine;
}

/* MAIN */

.bg-blue{
    background-color: blue;
}

.bg-gray{
    background-color: gray;
}

.center-content{
    align-content: center;
    justify-content: center;
}

.hero-col{
    background-color: pink;
    height: 200px;
    width: 500px;
}

.black-col{
    width: 500px;
    height: 200px;
    background-color: black;
}

.bg-pink{
    background-color: pink;
}

.col-100{
    width: 500px;
    height: 500px;
}

.bg-greenlight{
    background-color: greenyellow;
}

/* FOOTER */

.background-black{
    background-color: black;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.footer-bar{
    justify-content: space-between;
    background-color: aquamarine;
}
