*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.row{
    display: flex;
    padding: 10px;
}

.row-reverse{
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
}


/* HEADER*/

.divisor-header{
    justify-content: space-between;
}
.nav-bar{
    justify-content: space-between;
    background-color: orange;
}

header{
    background-color: aquamarine;
}

/* MAIN */

.background-blue{
    background-color: blue;
}

.background-gray{
    background-color: gray;
}

.center-content{
    align-content: center;
    justify-content: center;
}

.hero-col{
    background-color: pink;
    height: 200px;
    width: 500px;
}

.black-col{
    width: 500px;
    height: 200px;
    background-color: black;
}

.pink-col{
    width: 200px;
    height: 200px;
    background-color: pink;
}

.green-col{
    width: 500px;
    height: 500px;
    background-color: greenyellow;
}

/* FOOTER */

.background-black{
    background-color: black;
}

.red-col{
    background-color: red;
    width: 150px;
    height: 200px;
    align-items: stretch;
}

.col{
    background-color: green;
    width: 100px;
    height: 200px;
    align-items: stretch;
}

.footer-bar{
    justify-content: space-between;
    background-color: aquamarine;
}



